img {
	max-width: 20%;
	margin: auto;
	display: block;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

@media (max-width: 1000px) {
	
	img {
		max-width: 70%;
		margin: auto;
		display: block;
	}

	h1 {
		text-align: center;
	}

	h2 {
		text-align: center;
	}

	h3 {
		text-align: center;
	}
}
